.ml-auto{
  align-content: left;
}
.linknav{
  color: black;
}
.about {
    background-color: transparent;
    font-size: 1.1em;
  }
  .m-2{
    background-color: rgb(58, 146, 40);

    border: none;
  }
  .like {
    align-content: center;
    width: 2em;
    color: black;
    background-color: transparent;
    

  }
  .profile {
    width: 50em;
  }
  
  .my-details {
    background-color: rgba(247, 241, 241, 0.747);
  }