.about {
    background-color: transparent;
    font-size: 1.1em;
  }
  .m-2{
    background-color: white;
    border: none;
  }
  .like {
    align-content: center;
    width: 2em;
    color: black;
    background-color: transparent;
    

  }
  .profile {
    width: 50em;
  }
  
  .my-details {
    background-color: rgba(247, 241, 241, 0.747);
  }